.article-title.title-page
    | В Германии завершается распродажа железнодорожных билетов от 19
    | евро
.article-image
    img(src="img/post-image.jpg", alt="Image поста")
.article-info
    .post-date 29.07.2016
.article-text
    p
        | Идейные соображения высшего порядка, а также сложившаяся структура организации
        | обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений
        | развития...
    p
        | Обычно цена предварительных скидочных билетов на средние и дальние дистанции
        | начинается с 29 евро, но сейчас нижний порог уменьшен на треть. Билеты по этому
        | предложению продаются до 31 июля на рейсы до 10 декабря.
    p
        | Скидки доступны только между станциями, на которых останавливаются дальние поезда (ICE, IC, EC).
        | Стыковочные переезды на региональных и пригородных поездах в этом варианте не разрешены (но они доступны при покупке
        | обычных предварительных скидочных билетов Sparpreis от 29 евро, для коротких маршрутов - от 19 евро).
        | Билет во всех случаях действует только на забронированный поезд, возврат и обмен возможны со штрафом в 17,5 евро и только минимум за день до даты поездки.