footer.main-footer
    .content-footer
        .bottom-menu
            ul.b-menu__list
                li.b-menu__list__item
                    a.b-menu__list__item__link(href='#') Главная
                li.b-menu__list__item
                    a.b-menu__list__item__link(href='#') Полезная информация
                li.b-menu__list__item
                    a.b-menu__list__item__link(href='#') Последние акции
                li.b-menu__list__item
                    a.b-menu__list__item__link(href='#') О сервисе
        .copyright-wrap
            .copyright-text Туристик
                a(href='#').copyright-text__link  loftschool 2016