header.main-header
    .top-header
        .top-header__wrap
            .logotype-block
                .logo-wrap
                    a(href='/')
                        img.logo-wrap__logo-img(src='img/logo.svg', alt='Логотип')
            nav.main-navigation
                ul.nav-list
                    li.nav-list__nav-item
                        a.nav-list__nav-item__nav-link(href='#') Главная
                    li.nav-list__nav-item
                        a.nav-list__nav-item__nav-link(href='#') Полезная информация
                    li.nav-list__nav-item
                        a.nav-list__nav-item__nav-link(href='#') Последние акции
                    li.nav-list__nav-item
                        a.nav-list__nav-item__nav-link(href='#') О сервисе
                    li.nav-list__nav-item
                        a.nav-list__nav-item__nav-link(href='#') Новости
    .bottom-header
        .search-form-wrap
            form.search-form
                input.search-form__input(type='text', placeholder='Поиск...')
                button.search-form__btn-search
                    i.icon.icon-search