h1.title-page Последние новости и акции из мира туризма
.posts-list
    // post-mini
    .post-wrap
        .post-thumbnail
            img.post-thumbnail__image(src='img/post_thumb/thumb_1.jpg', alt='Image поста')
        .post-content
            .post-content__post-info
                .post-date 29.07.2016
            .post-content__post-text
                .post-title
                    | В германии завершается распродажа железнодорожных билетов от 19
                    | евро
                p
                    | Идейные соображения высшего порядка, а также сложившаяся структура организации
                    | обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений
                    | развития...
            .post-content__post-control
                a.btn-read-post(href='#') Читать далее >>
    // post-mini_end
    // post-mini
    .post-wrap
        .post-thumbnail
            img.post-thumbnail__image(src='img/post_thumb/thumb_2.jpg', alt='Image поста')
        .post-content
            .post-content__post-info
                .post-date 29.07.2016
            .post-content__post-text
                .post-title
                    | В германии завершается распродажа железнодорожных билетов от 19
                    | евро
                p
                    | Идейные соображения высшего порядка, а также сложившаяся структура организации
                    | обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений
                    | развития...
            .post-content__post-control
                a.btn-read-post(href='#') Читать далее >>
    // post-mini_end
    // post-mini
    .post-wrap
        .post-thumbnail
            img.post-thumbnail__image(src='img/post_thumb/thumb_3.jpg', alt='Image поста')
        .post-content
            .post-content__post-info
                .post-date 29.07.2016
            .post-content__post-text
                .post-title
                    | В германии завершается распродажа железнодорожных билетов от 19
                    | евро
                p
                    | Идейные соображения высшего порядка, а также сложившаяся структура организации
                    | обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений
                    | развития...
            .post-content__post-control
                a.btn-read-post(href='#') Читать далее >>
    // post-mini_end