.page-navigation
    .page-navigation-wrap
        a.page-navigation__prev-page(href="#")
            i.icon.icon-angle-double-left
            | Предыдущая статья
    .page-navigation-wrap
        a.page-navigation__next-page(href="#") Сдедующая статья
            i.icon.icon-angle-double-right