.pagenavi-post-wrap
    a.pagenavi-post__prev-postlink(href="#")
        i.icon.icon-angle-double-left
    span.pagenavi-post__current
        | 1
    a.pagenavi-post__page(href="#") 2
    a.pagenavi-post__page(href="#") 3
    a.pagenavi-post__page(href="#")
        | ...
    a.pagenavi-post__page(href="#") 10
    a.pagenavi-post__next-postlink(href="#")
        i.icon.icon-angle-double-right