.article-pagination
    .article-pagination__block.pagination-prev-left
        a.article-pagination__link(href="#")
            i.icon.icon-angle-double-left
            | Предыдущая статья
        .wrap-pagination-preview.pagination-prev-left
            .preview-article__img
                img(src="img/1.jpg").preview-article__image
            .preview-article__content
                .preview-article__info
                    a(href="#").post-date 23.07.2016
                .preview-article__text
                    | Сезонные скидки на авиа билеты в AirFace

    .article-pagination__block.pagination-prev-right
        a.article-pagination__link(href="#") Сдедующая статья
            i.icon.icon-angle-double-right
        .wrap-pagination-preview.pagination-prev-right
            .preview-article__img
                img(src="img/2.jpg").preview-article__image
            .preview-article__content
               .preview-article__info
                   a(href="#").post-date 23.07.2016
                .preview-article__text
                   | Вылеты из Риги за 0,99 euro