.sidebar
    .sidebar__sidebar-item
        .sidebar-item__title Теги
        .sidebar-item__content
            ul.tags-list
                li.tags-list__item
                    a.tags-list__item__link(href='#') путешествия по россии
                li.tags-list__item
                    a.tags-list__item__link(href='#') турция
                li.tags-list__item
                    a.tags-list__item__link(href='#') гоа
                li.tags-list__item
                    a.tags-list__item__link(href='#') авиабилеты
                li.tags-list__item
                    a.tags-list__item__link(href='#') отели
                li.tags-list__item
                    a.tags-list__item__link(href='#') европа
                li.tags-list__item
                    a.tags-list__item__link(href='#') азия
                li.tags-list__item
                    a.tags-list__item__link(href='#') тайланд
                li.tags-list__item
                    a.tags-list__item__link(href='#') хостелы
                li.tags-list__item
                    a.tags-list__item__link(href='#') шоппинг
    .sidebar__sidebar-item
        .sidebar-item__title Категории
        .sidebar-item__content
            ul.category-list
                li.category-list__item
                    a.category-list__item__link(href='#')
                        | Вылеты из
                        | столиц
                    ul.category-list__inner
                        li.category-list__item
                            a.category-list__item__link(href='#')
                                | Москва
                        li.category-list__item
                            a.category-list__item__link(href='#')
                                | Санкт-Петербург
                li.category-list__item
                    a.category-list__item__link(href='#')
                        | Вылеты из
                        | регионов
                    ul.category-list__inner
                        li.category-list__item
                            a.category-list__item__link(href='#')
                                | Москва
                        li.category-list__item
                            a.category-list__item__link(href='#')
                                | Санкт-Петербург